<div class="dashboard">
  <aside class="sidebar">
    <h2 class="logo">EduManage</h2>
    <ul class="menu">
      <li (click)="activeTab='overview'" [class.active]="activeTab==='overview'">Dashboard</li>
      <li (click)="activeTab='batches'" [class.active]="activeTab==='batches'">My Batches</li>
      <li (click)="activeTab='attendance'" [class.active]="activeTab==='attendance'">Attendance</li>
      <li (click)="activeTab='tasks'" [class.active]="activeTab==='tasks'">Tasks</li>
      <li (click)="activeTab='reports'" [class.active]="activeTab==='reports'">Reports</li>
    </ul>
  </aside>

  <div class="main">
    <header class="header">
      <h2>Trainer Dashboard</h2>
      <div class="user-info">
        <span>👩‍🏫 {{ trainerName || 'Trainer'}}</span>
        <button (click)="logout()" class="logout-btn">Logout</button>
      </div>
    </header>


    <section *ngIf="activeTab==='overview'" class="overview">
      <div class="card">
        <h3>Today’s Batches</h3>
        <p>{{ batches.length }}</p>
      </div>
      <div class="card">
        <h3>Attendance Pending</h3>
        <p>{{ pendingAttendance }}</p>
      </div>
      <div class="card">
        <h3>Tasks to Grade</h3>
        <p>{{ pendingTasks }}</p>
      </div>
    </section>


    <section *ngIf="activeTab==='batches'" class="content">
      <h3>My Batches</h3>
      <table>
        <thead>
          <tr>
            <th>Batch Name</th>
            <th>Timing</th>
            <th>Batch Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let batch of batches">
            <td>{{ batch.batchName }}</td>
            <td>{{ batch.schedule}}</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
    </section>

    


    <div *ngIf="activeTab==='attendance'">
  <app-attendance [trainerId]="trainerId" [batchId]="trainer.batchId"></app-attendance>
</div>


<!-- <div *ngIf="activeTab === 'tasks'">
  <app-task-asian [trainerId]="trainerId" [batchId]="trainer.batchId"></app-task-asian>
</div> -->


<div *ngIf="activeTab === 'tasks'">
  <h3>Task Management</h3>

  <!-- Toggle buttons -->
  <button class="add-btn" (click)="toggleTaskView('assign')">Assign Task</button>
  <button class="add-btn" (click)="toggleTaskView('list')">View Task List</button>

  <!-- Task Assign -->
  <div *ngIf="taskView === 'assign'">
    <app-task-asian [trainerId]="trainerId" [batchId]="trainer.batchId"></app-task-asian>
  </div>

  <!-- Task List -->
  <div *ngIf="taskView === 'list'">
    <app-task-list [trainerId]="trainerId" [batchId]="trainer.batchId"></app-task-list>
  </div>
</div>




    <section *ngIf="activeTab==='reports'" class="content">
      <h3>Reports</h3>
      <p>📊 Attendance & Task reports with export options will be shown here.</p>
    </section>

  </div>
</div>