<div class="student-form-container">
  <h3>{{ student?.id ? "Update Student" : "Create Student" }}</h3>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="hidden" [(ngModel)]="formStudent.id" name="id" />

    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        [(ngModel)]="formStudent.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="formStudent.email"
        name="email"
        required
      />
    </div>

    <div class="form-group">
      <label>Course</label>
      <input
        type="text"
        [(ngModel)]="formStudent.course"
        name="course"
        required
      />
    </div>

    <button type="submit" class="btn save-btn">
      {{ student?.id ? "Update" : "Create" }}
    </button>
    <button type="button" class="btn cancel-btn" (click)="closeForm()">Cancel</button>
  </form>
</div>
