server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri:  http://localhost:8083
          predicates:
            - Path=/auth/**
        - id: admin-service
          uri: http://localhost:8082
          predicates:
            - Path=/admin/**
    discovery:
      locator:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
